body {
  text-align: center;
  background-color: white;
  color: black;
  font-size: calc(10px + 1vmin);
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 3em;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .faceList {
    /* Add flex and styles here */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 5%;
  }
}

@media screen and (min-width: 800px) {
  .faceList {
    /* Add flex and styles here */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 5%;
  }
}

.face {
  box-sizing: border-box;
  text-align: left;
}

.face img {
  object-fit: cover;

  /* The images should scale with the window, so this uses vw (view width)*/
  height: 35vw;
  width: 35vw;
  max-width: 150px;
  max-height: 150px;
}

.face h5 {
  margin-top: 0.5em;
  margin-bottom: 2em;
  text-align: center;
}

.ourStory p {
  text-align: left;
}

/*  Put your CSS Here */

.ourTeam {
  width: 60%;
  text-align: left;
  max-width: 630px;
}

.ourStory {
  max-width: 35%;
  text-align: left;
}
